extend layout.jade

block navbar
    - var path = 'index.html'
    include partials/navbar.jade

block content
    each item in lightbox
        a(
            href="#{ item.url }"
            data-lightbox="image"
        )
            img(
                src="#{ item.url }"
                alt="#{ item.name }"
                width="100"
                height="100"
                title="#{ item.name }"
            )
    h2.text-primary Hello
    h2.h1 #{ list[0].name }
    h2.h1 #{ ks[0].Name }
    p
        != 'This code is <ins>not</ins> escaped!'
    br
    |   lor
    h1.bg-primary Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere ducimus numquam fugiat sed cupiditate, quia nostrum beatae autem iusto similique neque ex laboriosam rerum omnis dolores, architecto reiciendis minus nemo.
    ul
        each item in ks
            li  
                img(src="#{ item.Picture1 }", alt="#{ item.Name }" width="100" height="100")
                span #{ item.Add }
    h2
        span content
        | another content
    h2: a.text-chin(href="login.html"): span login
    form
        label(for="email") Email
        input#email.form-control.text-warning(type="text" placeholder="請輸入...")